menu: [
  label: 'Packages'
  submenu: [
    label: 'Swinsian'
    submenu: [
      { label: 'Play',               command: 'swinsian:play' }
      { label: 'Pause',              command: 'swinsian:pause' }
      { label: 'Next',               command: 'swinsian:next' }
      { label: 'Previous',           command: 'swinsian:previous' }
      { label: 'Open Current Track', command: 'swinsian:open' }
    ]
  ]
]
